<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Config</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/bootstrap.min.css">

</head>

<body>


<div class="container">

    <div>
        <div class="col-10">
            <h2>Config</h2>

            <div class="text-danger">
                <p>{{ message }}</p>
            </div>

            {% load crispy_forms_tags %}

            <!--<div>-->
                <!--{{ error }}-->
            <!--</div>-->

            <form action="/" method="post" novalidate>
                {% csrf_token %}

                <div class="row">
                    <div class="col-6">
                        {{ form.mode|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.coin_count|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        {{ form.game_count|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.game_time|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        {{ form.music_volume|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.sound_volume|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        {{ form.resolution|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        {{ form.spare_1|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.spare_2|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        {{ form.spare_3|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.spare_4|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        {{ form.spare_5|as_crispy_field }}
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">OK</button>
            </form>


        </div>

    </div>


</div>

</body>
</html>