<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>

    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/app.css">


</head>

<body>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-4">
                <h1 class="text-center">Welcome signing in</h1>
            </div>
        </div>

        <div class="row justify-content-md-center">

            <div class="col col-lg-4">
                <table class="table">
                <tbody>
                <tr>
                    <th>
                        <!--<form @submit.prevent="submit">-->
                            <!--<div class="form-group">-->
                            <!--<label for="password">input admin password</label>-->
                            <!--<input type="password" class="form-control" id="password" placeholder="Password">-->
                                <!--<div v-if="seen" class="alert alert-danger small" role="alert">-->
                                    <!--{% verbatim %}-->
                                    <!--{{ err_msg }}-->
                                    <!--{% endverbatim %}-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<button v-on:click="sign_in" class="btn btn-primary">Sign in</button>-->


                        <!--</form>-->

                        <div id="signin_box">
                            <!--<form @submit.prevent="submit">-->
                                <div class="form-group">
                                <label for="password">input admin password</label>
                                <input type="password" class="form-control" v-model="password" placeholder="Password">
                                    <div v-if="seen" class="alert alert-danger small" role="alert">
                                        {% verbatim %}
                                        {{ err_msg }}
                                        {% endverbatim %}
                                    </div>
                                </div>

                            <button v-on:click="sign_in" class="btn btn-primary">Sign in</button>
                            <!--</form>-->
                        </div>
                    </th>
                </tr>
                </tbody>
            </table>
            </div>
        </div>

    </div>

    <script src="/static/vue.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/bootstrap.bundle.js"></script>

    <script src="/static/js/index.js"></script>

</body>

</html>